.sign-main{
    background-color: rgb(113, 113, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.sign-form{
     
    background-color: whitesmoke;
    padding: 5em 4em 5em 4em;
    border-radius: 10px;

}
.sign-form input{
    border-radius: 3px;
    padding: 4px;
    margin: 2% 0% 2% 0%;
}
.sign-form button{
    /* margin-left: 30%; */
    background-color:rgb(101, 101, 240);
    border: none;
    padding: 1em;
    color: white;
    margin: 2% ;
    border-radius: 10px;
}